<ul class="nav navbar-nav">
           <li ng-show="auth.isAuthenticated()"><a href="#/messages">Messages</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li ng-hide="auth.isAuthenticated()"><a href="#/login">Login</a></li>
           <li ng-hide="auth.isAuthenticated()"><a href="#/register">Register</a></li>
           <li ng-show="auth.isAuthenticated()"><p class="navbar-text">Hello, <strong>{{user().email}}</strong></p></li>
           <li ng-show="auth.isAuthenticated()"><a href="#" ng-click="logout()">Logout</a></li>
         </ul>

<ul class="nav navbar-nav">
  <li ng-show="auth.isAuthenticated()"><a href="#/messages">Messages</a>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li ng-hide="auth.isAuthenticated()">
    <a href="#login">Login</a>
  </li>
  <li ng-hide="auth.isAuthenticated()">
    <a href="#/register">Register</a>
  </li>
  <li ng-show="auth.isAuthenticated()">
    <p class="navbar-text">Hello,<strong>{{user().email}}</strong>
    </p>
  </li>
  <li ng-show="auth.isAuthenticated()">
    <a href="#" ng-click="logout()">Logout</a>
  </li>
</ul>
