<body class="prof">
  <div ng-controller="UserController as userCtrl">

<input type="checkbox" id="sidebarToggle">

<div class="page-wrap">

  <label for="sidebarToggle" class="toggle">☰</label>

<div class="container profilePage">

    <h1>Welcome {{ userCtrl.singleUser.username }}</h1>
          <h3>Account Information</h3>
          <!-- ID: {{ userCtrl.singleUser.id }} <br/> -->
          <p>Username: {{ userCtrl.singleUser.username }}</p>
          <p>Email: {{ userCtrl.singleUser.email }}</p>
          <p>Blurb: {{ userCtrl.singleUser.blurb }}</p>


          <div ng-controller="EventController as eventCtrl">
          <h3>Event Listings</h3>
          <ul>
            <li ng-repeat='event in eventCtrl.events'>
              <h4>{{event.name}}</h4>
              <p>{{event.description}}</p>
              <p>{{event.date | date: 'short'}}</p>
            </li>
          </ul>
          <button ng-click="eventCtrl.toggleShow()">Create New Event</button>
        <div class="col-md-6">
          <div class="newRoom" ng-show="eventCtrl.form">
            <form ng-submit="eventCtrl.addNewEvent(newEvent)">
              <div class="newEventForm">
                <label for="newEventName">Session Name</label>
                <input type="text" ng-model="newEvent.name" placeholder="Event Name">
                <label for="newEventDescription">Please provide a short description of the Video Session</label>
                <textarea ng-model="newEvent.description" name="newEventDescription" id="newEventDescription" rows="10" placeholder="Description of Session"></textarea>
                <label for="newEventDateTime">Please select the date and time for the session</label>
                <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="1" minute-step="15" ng-model="newEvent.date" show-meridian="true" date-format="dd-MMM-yyyy" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                {{newEvent.date | date: 'shortTime'}}
                <button type="submit">Add New Event</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



<div class="sidebar">
  <ul>
    <li>
      <a href="#/browse">BROWSE LIBRARY</a>
    </li>
    <li>
      <a href="#/about">ABOUT AUDITORIUM</a>
    </li>
    <li>
      <a href="#/" ng-click="userCtrl.logout()">LOGOUT</a>
    </li>
  </ul>

</div>
</div>
</div>
</body>
