
<div ng-controller="RoomController as roomCtrl">
    <ot-layout props="{animate:true}">
        <ot-subscriber ng-repeat="stream in streams"
            stream="stream"
            props="{style: {nameDisplayMode: 'off'}}">
        </ot-subscriber>
        <ot-publisher id="publisher"
            apiKey="45176582"
            props="{style: {nameDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
        </ot-publisher>
    </ot-layout>
</div>

<!-- 


<div ng-class="{'mouse-move': mouseMove}">
  <div id="session" ng-class="{'session-connected': connected}">
    <ot-layout props="{animate:true,bigFixedRatio:true}">
      <ot-subscriber ng-repeat="stream in streams | filter:notMine"
        stream="stream"
        props="{style: {nameDisplayMode: 'off'}}"
        ng-class="{OT_big: (stream.oth_large == undefined && stream.name == 'screen') || stream.oth_large}">
        </ot-subscriber>
        <ot-publisher id="screenPublisher" ng-if="sharingMyScreen" props="screenPublisherProps" ng-class="{OT_big: screenBig}">

        </ot-publisher>

    </ot-layout>
  </div>
</div> -->
