


<div class="container">
    <div id="session" ng-class="{'session-connected': connected}">
      <ot-layout props="{animate:true,bigFixedRatio:true}">
        <ot-subscriber ng-repeat="stream in streams" stream="stream" props="{style: {nameDisplayMode: 'on'}}">
        </ot-subscriber>
        <ot-publisher id="publisher" ng-if="isCenterStage()"></ot-publisher>
      </ot-layout>
    </div>



    <div class="sidebar">
      <div class="user-list moderators">
        <h3>Moderators</h3>
        <ul ng-repeat="user in moderators">
          <li ng-class="{'present': user.present}">{{ user.username }}</li>
        </ul>
      </div>
      <div class="user-list questions">
        <h3>Questions</h3>
        <ul ng-repeat="question in questions">
          <li>question</li>
        </ul>
      </div>
      <div class="user-list audience">
        <h3>Audience</h3>
        <ul ng-repeat="user in subscribers">
          <li ng-class="{'present': user.present}">
            <span>{{ user.username }}</span>
            <button ng-click="centerStageAdd({{user.id}})" ng-if="credData.role == 'moderator'">AddMe!</button>
          </li>
        </ul>
      </div>
    </div>
</div>
