<!--
<div class="container">
  <form action="" ng-submit="joinRoom()">
    <input type="submit" name='Join' value='Join'>
  </form>
</div> -->
	<div class="content" id="large-header">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">AUDITORIUM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navContainer">
				<nav class="mainNav">
						<a href="#">BROWSE LIBRARY</a>
						<span class="right">
							<a href="#">LOGIN</a>
							<a href="#/register">REGISTER</a>
						</span>
				</nav>
			</div>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
          <h1 class="main-title">Auditorium</span></h1>
    </div>
