<div class="content" id="large">
  <nav class="navbar navbar-default audNav">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navContainer">
          <nav class="mainNav">
            <a href="#/browse">BROWSE LIBRARY</a>
            <span class="right">
              <a href="#/login" id="toggle-login" data-toggle="modal" data-target="#myModal" ng-hide="auth.isAuthenticated()">LOGIN</a>
              <a href="#/register" data-toggle="modal" data-target="#registerModal" ng-hide="auth.isAuthenticated()">REGISTER</a>
            </span>
          </nav>
        </div> <!-- navContainer close -->
      </div> <!-- navbar collapse close -->
    </div> <!-- container fluid close -->
  </nav> <!-- nav close -->

  <!-- LOGIN FORM -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LoginController as loginCtrl">
  <div class="modal-dialog" id="mainLog">
    <div class="modal-content" id="loginContent">
      <div class="loginHeader modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title loginTitle" id="myModalLabel">Login</h3>
      </div>
      <div class="modal-body loginBody">
        <form class="loginForm" name="loginForm" novalidate>
					<div class="inputs"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><input type="email" ng-model="loginCtrl.user.email" placeholder="Email" /></div>
					<div class="inputs"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span><input type="password" class="password" ng-model="loginCtrl.user.password" placeholder="Password" /></div>
				</form>
      </div>
      <div class="modal-footer loginFooter">
        <button type="submit" ng-click="loginCtrl.login()" class="btn submitBtn" data-dismiss="modal">LOGIN</button>
        <div class="mainNav">
				<a href="#/register" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Don't have an account yet?</a>
				</div>
      </div>
    </div>
  </div>
</div>

<!-- REGISTER FORM -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="AuthController as authCtrl">
  <div class="modal-dialog" id="registerLog">
    <div class="modal-content" id="registerContent">
      <div class="loginHeader modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title loginTitle" id="myModalLabel">Register</h3>
      </div>
      <div class="modal-body loginBody">
        <form class="loginForm" name="userForm" novalidate>
          <!-- NAME -->
					<div class="inputs" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><input type="text" ng-model="authCtrl.user.name" placeholder="Name" name-"name" class="textInput" required>
          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p></div>

          <!-- EMAIL -->
					<div class="inputs" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><input type="email" name="email" ng-model="authCtrl.user.email" placeholder="Email" required>
          <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email</p></div>

          <!-- USERNAME -->
					<div class="inputs" ng-class=" { 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><input type="text" name="username" class="textInput" ng-model="authCtrl.user.username" placeholder="Username" ng-minlength="3" required>
          <p ng-show="userForm.username.$error.minlength" class="help-block">Username is short</p>
          </div>

          <!-- PASSWORD -->
					<div class="inputs"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><input type="password" ng-model="authCtrl.user.password" placeholder="Password" class="password" required></div>
      </form>
      </div>
      <div class="modal-footer loginFooter">
        <button type="submit" ng-disabled="userForm.$invalid" ng-click="authCtrl.register(userForm.$valid)" class="btn submitBtn">Complete Registration</button>
        <div class="mainNav">
          <a href="#/login" data-toggle="modal" data-target="#myModal" data-dismiss="modal">Already have an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="splashPage"></div>
<h1 class="main-title">Auditorium</h1>
<h3 class="sub-head">Conferencing for the Digital Age</h3>



</div> <!-- content close -->
