<input type="checkbox" id="sidebarToggle">
<div class="page-wrap">
  <label for="sidebarToggle" class="toggle">☰</label>
  <div class="container profilePage">
    <h1 ng-controller="UserController as userCtrl">Welcome {{userCtrl.singleUser.name}}</h1>
    <div class="row">
      <div ng-controller="UserController as userCtrl">
          <div class="col-md-6" id="leftSide">
            <div id="acctInfo">
              <h3>Account Information</h3>
              <p>Name: {{userCtrl.singleUser.name}}</p>
              <p>Username: {{userCtrl.singleUser.username}}</p>
              <p>Email: {{userCtrl.singleUser.email}}</p>
            </div>
            <div id="chartWrap">
              <h3>User Activity</h3>
              <canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels" legend="true"></canvas> 
           </div>
          </div>

      <div class="col-md-6" id="eventInfo">
          <h3>Event Listing</h3>
            <ul>
              <li ng-repeat="sessionEvent in userCtrl.events">

                <a href="#/auditorium/{{sessionEvent.id}}?userId={{user.id}}"><h4 class="eventName">{{sessionEvent.name}}</h4></a>
                <p><span class="eventDescrip">{{sessionEvent.description}}</span><span class="eventTime">{{sessionEvent.date | date: 'short'}}</span></p>
                <hr>
              </li>
            </ul>
            <div class="createEvent">
            <button ng-click="userCtrl.toggleShow()" class="createBtn">Create New Event <i class="fa fa-angle-double-down"></i></button>
            </div>
            <div class="newRoom" ng-show="userCtrl.form">
              <form ng-submit="userCtrl.addNewEvent(newEvent)">
                <div class="newEventForm">
                  <label for="newEventName">Session Name</label>
                  <input type="text" name="newEventName" class="form-control" id="newEventName" ng-model="newEvent.name" placeholder="Event Name">
                  <label for="newEventDescription">Please provide a short description of the Video Session</label>
                  <textarea ng-model="newEvent.description" name="newEventDescription" id="newEventDescription" class="form-control" rows="10" placeholder="Description of Session"></textarea>
                  <label for="dateTime">Select Date and Time</label>
                  <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="1" minute-step="15" ng-model="newEvent.date" show-meridian="true" date-format="dd-MMM-yyyy" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
                  <label for="guests">Will unregistered guests be allowed into your event?</label>
                  <select class="form-control" id="guests">
                    <option>YES</option>
                    <option>NO</option>
                  </select>

                  <label for="moderators">Check all Moderators for the session</label>
                  <select multiple class="form-control" name="moderators" id="moderators" ng-model="newEvent.moderators" ng-options="user as user.username for user in userCtrl.users"></select>

                  <label for="subscribers">Check all required attendees for the session</label>
                  <select multiple class="form-control" name="subscribers" id="subscribers" ng-model="newEvent.subscribers" ng-options="user as user.username for user in userCtrl.users"></select>


                  <label for="topic">What is the topic of your event?</label>
                  <select class="form-control" id="topic">
                    <option>Technology</option>
                    <option>News</option>
                    <option>Sports</option>
                    <option>Film & TV</option>
                    <option>Music</option>
                    <option>Business</option>
                    <option>Other</option>
                  </select>

                  <button type="submit" class="submitEvent">Add New Event</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  
    
  </div>
  <div class="sidebar">
    <ul>
      <li>
        <a href="#/browse">BROWSE LIBRARY</a>
      </li>
      <li>
        <a href="#/about">ABOUT</a>
      </li>
      <li>
        <a href="#/" ng-click="logout()">LOGOUT</a>
      </li>
    </ul>
  </div>
</div>
