// bower:scss
// endbower

//mixins
@mixin transition($transform, $opacity) {
  -webkit-transition: ($transform, $opacity);
  -moz-transition:($transform, $opacity);
  transition:($transform, $opacity);
}

@mixin transitionOpacity($opacity) {
  -webkit-transition: ($opacity);
  -moz-transition:($opacity);
  transition:($opacity);
}

@mixin trans($trans) {
  -webkit-transition: ($trans);
  -moz-transition:($trans);
  transition:($trans);
}

@mixin transform($transform) {
  -webkit-transform:($transform);
  -moz-transform:($transform);
  transform:($transform);
}

@mixin timing($timing) {
  transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
}
@mixin background($size) {
  -webkit-background-size:($size);
  -moz-background-size:($size);
  -o-background-size:($size);
  background-size:($size);
}
$minion: 'minion-pro', serif;
$avenir: 'avenir', "proxima-nova",sans-serif;
$dark:#444444;
$light:#eeeeee;
$accent: #5BA97E;

//main page
#large-header {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/group1.jpg);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/group1.jpg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/group1.jpg);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;

  }
/*   padding: 0;
margin: 0;
background: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/group1.jpg);
background: -o-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/group1.jpg);
background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/group1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
} */

/* section {
  display: flex;
  min-height: 100vh;
  .main-title {
    align-self: center;
    font-size: 5em;
    font-weight: 800px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
}
 */
.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
    z-index: 100;
    font-family: $avenir;
    font-size: 5em;
}

nav {
  a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    font-family: $minion;
    &:hover {
      outline: none;
      color: white;
    }
    &:focus {
      outline: none;
      color: white;
    }
  }
}

.audNav {
  background: rgba(0,0,0, 0.3);
  border: 0px;
  border-radius: 0px;
  margin: 0;
  padding: 15px 0 15px 0;
}

.mainNav { // nav class cl-effect-1
  a::before {
    display: inline-block;
    opacity: 0;
    @include transition(transform 0.3s, opacity 0.2s);
  }
  a::after {
    display: inline-block;
    opacity: 0;
    @include transition(transform 0.3s, opacity 0.2s);
  }
}

.mainNav a::before {
  margin-right: 10px;
  content: '[';
  @include transform(translateX(20px));
}

.mainNav a::after {
  margin: 10px;
  content: ']';
  @include transform(translateX(-20px));
}

.mainNav a:hover::before, .mainNav a:hover::after, .mainNav a:focus::before, .mainNav a:focus::after {
  opacity: 1;
  @include transform(translateX(0px));
}

.right {
  float: right;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1024px) {
  #large-header{
    left: 50%;
    margin-left: -512px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
