
// bower:scss
// endbower
@import 'bourbon/bourbon';

//mixins
@mixin transition2($transform, $opacity) {
  -webkit-transition: ($transform, $opacity);
  -moz-transition:($transform, $opacity);
  transition:($transform, $opacity);
}

@mixin transitionOpacity($opacity) {
  -webkit-transition: ($opacity);
  -moz-transition:($opacity);
  transition:($opacity);
}

@mixin trans($trans) {
  -webkit-transition: ($trans);
  -moz-transition:($trans);
  transition:($trans);
}

@mixin transform($transform) {
  -webkit-transform:($transform);
  -moz-transform:($transform);
  transform:($transform);
}

@mixin timing($timing) {
  transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
}
@mixin background($size) {
  -webkit-background-size:($size);
  -moz-background-size:($size);
  -o-background-size:($size);
  background-size:($size);
}
$minion: 'minion-pro', serif;
$avenir: 'avenir', "proxima-nova",sans-serif;
$lightest: #f6f7f7;
$light2: #D2D4D5;
$gray: #393939;
$dark: #221f1f;
$accent: #d2Af3c;
$accent2:#75c9b3;



//defaults
h1, h2, h3, h4, h5, h6 {
  font-family: $avenir;
  color: $dark;
}

a {
  font-family: $minion;
  color: $lightest;
}

li, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-family: $avenir;
  border-top: 2px solid $accent;
  border-bottom: 2px solid $accent;
  padding: 5px;
  color: $accent;
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 0 20px 0;
}
body {
 background-color: $lightest;
}

h3 {
  font-family: $avenir;
  font-size: 2em;
  text-align: center;

}
h4 {
  font-family: $minion;
  font-size: 1.5em;
}
 p {
   font-family: $minion;
   font-size: 1.2em;
 }

//main page
#large-header {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/group1.jpg);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/group1.jpg);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/group1.jpg);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;

  }

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: $accent;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
    font-weight: 900;
    z-index: 100;
    font-family: $avenir;
    font-size: 5em;
    border-top: 2px solid $accent;
    border-bottom: 2px solid $accent;
    padding: 5px;
}


nav {
  a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: $lightest;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.35em;
    font-family: $minion;
    &:hover {
      outline: none;
      color: $lightest;
    }
    &:focus {
      outline: none;
      color: $lightest;
    }
  }
}

.audNav {
  background: rgba(34,31,31, 0.3);
  border: 0px;
  border-radius: 0px;
  margin: 0;
  padding: 15px 0 15px 0;
}

.mainNav {
  a::before {
    display: inline-block;
    opacity: 0;
    @include transition2(transform 0.3s, opacity 0.2s);
  }
  a::after {
    display: inline-block;
    opacity: 0;
    @include transition2(transform 0.3s, opacity 0.2s);
  }
}

.mainNav a::before {
  margin-right: 10px;
  content: '[';
  @include transform(translateX(20px));
}

.mainNav a::after {
  margin: 10px;
  content: ']';
  @include transform(translateX(-20px));
}

.mainNav a:hover::before, .mainNav a:hover::after, .mainNav a:focus::before, .mainNav a:focus::after {
  opacity: 1;
  @include transform(translateX(0px));
}

.right {
  float: right;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


//Login Form
#mainLog {
  left: 50%;
  position: fixed;
  top: 50%;
  @include transform(translate(-33%, -60%));
  }

  #registerLog {
    left: 50%;
    position: fixed;
    top: 50%;
    @include transform(translate(-33%, -60%));
  }

#loginContent {
  height: 425px;
  width: 400px;
  background: rgba(210, 212, 213, 0.8);

}

#registerContent {
  height: 525px;
  width: 400px;
  background: rgba(210, 212, 213, 0.8);
}

.loginHeader {
  padding: 0;
  border: 0;
  background: rgba(210, 212, 213, 1.0);


}
.loginTitle {
  font-family: $avenir;
  text-align: center;
  text-transform: uppercase;
	border-radius: 5px 5px 0 0;
  padding: 25px;
  font-size: 2.4em;
}
.loginBody:before {
  background-color: $accent;
  content: "";
  height: 20px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  width: 20px;
  @include transform(rotate(45deg));

}
.loginBody {
  .loginForm{
    padding: 5px 0 5px 0;
    input {
      margin-top: 20px;
    }
    input[type="email"] {
      border: 1px solid #dcdcdc;
      padding: 12px 10px;
      width: 82%;
      border-radius: 0px 0px 0px 3px;
      background-color: $lightest;
    }
    input[type="password"] {
      border: 1px solid #dcdcdc;
      padding: 12px 10px;
      width: 82%;
      border-radius: 0px 0px 0px 3px;
      background-color: $lightest;

    }
    input[type="text"] {
      border: 1px solid #dcdcdc;
      padding: 12px 10px;
      width: 82%;
      border-radius: 0px 0px 0px 3px;
      background-color: $lightest;

    }
  }
}

.inputs {
  .glyphicon-user {
    background-color: $accent;
    padding: 15px 25px 17px 25px;
  }
  .glyphicon-lock {
    @extend .glyphicon-user;
  }
  .glyphicon-menu-right {
    @extend .glyphicon-user;
  }
}

.loginFooter {
  border: 0;
  margin-top: 2%;
  .submitBtn {
    background: rgba(210, 175, 60, 1.0);
    color: $lightest;
    border-radius: 0px;
    float: right;
    padding: 10px;
    width: 100%;
    &:hover {
      background: $accent;
      opacity: 1.0;
      @include trans(all 0.5s ease);
    }
  }
  a {
    font-size: 16px;
margin-right: -20px;
    &:hover {
      color: $lightest;
    }
  }
}

//browse
#browseSession {
  border: 2px solid $dark;
}


//video controllers
ot-publisher, ot-layout, ot-subscriber {
  display: block;
  overflow: hidden;
}

ot-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//profile page
.profilePage {
  position: relative;
  z-index: 0;
  @include transition();
  h1 {
    text-align: center;
  }

}

.toggle {
  text-decoration: none;
  font-size: 30px;
  width:30px;
  height:30px;
  color: $dark;
  @include transition();
  @include position(fixed, 20px 0 0 30px);
  z-index: 1;
  cursor: pointer;
  &:hover {
    color:$accent2;
    @include transition(all .5s);
  }
}
.sidebar {
  @include position(fixed, 0px 0 0px -270px);
  @include transition();
  width: 230px;
  padding:30px;
  background: #333;
  z-index:0;
  li {
    font-family: $minion;
    font-size: 18px;
    margin-bottom: 20px;
    -webkit-font-smoothing:antialiased;
  a {
    color: $lightest;
    &:hover {
      color: $accent2;
      @include transition(all .4s ease);
      }
    }
  }
}

#sidebarToggle {
  display: none;
  &:checked + .page-wrap{
    .sidebar {
      left: 0px;
    }
    .toggle {
      left: 250px;
      @include transform(rotate(90deg));
    }
    .profilePage {
      padding-left: 260px;
    }
  }
}

#acctInfo, #eventInfo {
  border: 1px solid #d0d0d0;
  width: 48%;
  margin: 0 7px 0 7px;
  padding: 0 10px 30px 20px;
}

//event listing info
.eventTime {
  float: right;
}

.eventDescrip {

}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1024px) {
  #large-header{
    left: 50%;
    margin-left: -512px;
  }
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
} */
