	<div class="content" id="large-header" ng-controller="MainCtrl as main" >
    <nav class="navbar navbar-default audNav">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!--   <a class="navbar-brand" href="#/">AUDITORIUM</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navContainer">
				<nav class="mainNav">
						<a href="#/browse">BROWSE LIBRARY</a>
						<span class="right">
							<a href="#/" id="toggle-login" ng-click="main.toggleShow()" data-toggle="modal" data-target="#myModal">LOGIN</a>
							<a href="#/register">REGISTER</a>
						</span>
				</nav>
			</div>
    </div>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" id="mainLog">
		<div class="modal-content" id="loginContent">
			<div class="loginHeader modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title loginTitle">Sign In</h3>
			</div>
			<div class="modal-body loginBody">
				<form class="loginForm">
					<input type="email" placeholder="Email" />
					<input type="password" placeholder="Password" />
				</form>
			</div>
			<div class="modal-footer loginFooter">
				<input type="submit" value="Log in" />
			</div>
		</div>
	</div>
</div>

    <h1 class="main-title">Auditorium</h1>
</div>
