	<div class="content" id="large-header" ng-controller="MainCtrl as main" >
    <nav class="navbar navbar-default audNav">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!--   <a class="navbar-brand" href="#/">AUDITORIUM</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navContainer">
				<nav class="mainNav">
						<a href="#">BROWSE LIBRARY</a>
						<span class="right">
							<a href="#/" id="toggle-login" ng-click="main.toggleShow()">LOGIN</a>
							<a href="#/register">REGISTER</a>
						</span>
				</nav>
			</div>
    </div>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="row">
	<div class="col-md-7"></div>
	<div class="col-md-4">
		<div id="login" ng-hide="main.login">
			<h1>Log in</h1>
			<form>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<input type="submit" value="Log in" />
			</form>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
    <h1 class="main-title">Auditorium</h1>
</div>
